
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Qintess</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class=" navbar-nav">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" routerLink="/cadastraFuncionario">Cadastrar Funcionário<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" routerLink="/listaFuncionario">Listar Funcionários</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link">Sobre</a>
            </li>

        </ul>
    </div>
</nav>