<div class="container" style="margin-top: 20px;">
    <h2>Lista de Funcionários</h2><br>
    <table class="table  border border-dark">
        <thead class=" thead-dark  ">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Gerente</th>
                <th scope="col">Profissão</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <a  class="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" ></a>
                    <button style="margin-left: 15px;"  class="fa fa-trash-o"  ></button>
                </td>
            </tr>
        </tbody>
    </table>

    <i class="fas fa-user-edit"></i>


</div>